This is an end to end notebook for detecting whether or not 
a passenger is transported for another dimension or not.?
* This is a classification problem
* link to kaggle : https://www.kaggle.com/competitions/spaceship-titanic

In [67]:
# Let's import all the necessary a modules..!

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [68]:
# Let's read the data
# We can read the data of training and testing dataset using pandas module

Train = pd.read_csv("train.csv")
Test = pd.read_csv("test.csv")

In [69]:
#Let's look after the data
Train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [70]:
# Let's checkout the length of the datasets
len(Train),len(Test)

(8693, 4277)

In [71]:
# Let's check if there is any missing values in the training dataset
Train.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [72]:
# Let's check if there is any missing values in testing datatset
Test.isna().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [73]:
# Let's look after the dataset and unserstand which features are necessary
# to train the machine learning algorithm

Train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [74]:
# if we observe the dataset we can see that the passengerId is always unique and the names are almost
# unique, so the features PassengerId and Name cannot play a role in determing the paterrns.
# So let's remove this feature

Train.drop("PassengerId",axis=1,inplace=True)
Test.drop("PassengerId",axis=1,inplace=True)
Train.drop("Name",axis=1,inplace=True)
Test.drop("Name",axis=1,inplace=True)

In [75]:
# It's time to deal with the missing values
Train.isna().sum()

HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [76]:
# Let's check out with what values we should fill this missing values of HomePlanet
Train["HomePlanet"].value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [77]:
Test["HomePlanet"].value_counts()

Earth     2263
Europa    1002
Mars       925
Name: HomePlanet, dtype: int64

In [78]:
# If we observe most of the data in the "HomePlanet" is "Earth".
# So let's fill out with the most repeating value

# Remember: There are many ways to deal with the missing values

Train["HomePlanet"].fillna("Earth",inplace=True)
Test["HomePlanet"].fillna("Earth",inplace=True)

In [79]:
# Let's check out with what values we should fill this missing values of CryoSleep
Train["CryoSleep"].value_counts()

False    5439
True     3037
Name: CryoSleep, dtype: int64

In [80]:
Test["CryoSleep"].value_counts()

False    2640
True     1544
Name: CryoSleep, dtype: int64

In [81]:
# Let's fill out the missing values of CryoSleep

Train["CryoSleep"].fillna("Missing",inplace=True)
Test["CryoSleep"].fillna("Missing",inplace=True)

In [82]:
Train.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [83]:
Train.isna().sum()

HomePlanet        0
CryoSleep         0
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [84]:
# The feature Cabin can be modified to a different format
# If we observe the cabin is all about P-port and S-starboard

# So let's create something new

Train["Cabin"]=Train["Cabin"].str[-1:]
Test["Cabin"] = Test["Cabin"].str[-1:]

In [85]:
Train["Cabin"].value_counts()

S    4288
P    4206
Name: Cabin, dtype: int64

In [86]:
Test["Cabin"].value_counts()

S    2093
P    2084
Name: Cabin, dtype: int64

In [87]:
Train["Cabin"].fillna("Missing",inplace=True)
Test["Cabin"].fillna("Missing",inplace=True)

In [88]:
Train["Destination"].value_counts()

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [89]:
Test["Destination"].value_counts()

TRAPPIST-1e      2956
55 Cancri e       841
PSO J318.5-22     388
Name: Destination, dtype: int64

In [90]:
Train["Destination"].fillna("TRAPPIST-1e",inplace=True)
Test["Destination"].fillna("TRAPPIST-1e",inplace=True)

In [91]:
Train["Age"].fillna(Train["Age"].median(),inplace=True)
Test["Age"].fillna(Test["Age"].median(),inplace=True)

In [92]:
Train.isna().sum()

HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [93]:
Train["VIP"].value_counts()

False    8291
True      199
Name: VIP, dtype: int64

In [94]:
Test["VIP"].value_counts()

False    4110
True       74
Name: VIP, dtype: int64

In [95]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   object
 1   CryoSleep     8693 non-null   object
 2   Cabin         8693 non-null   object
 3   Destination   8693 non-null   object
 4   Age           8693 non-null   float64
 5   VIP           8490 non-null   object
 6   RoomService   8512 non-null   float64
 7   FoodCourt     8510 non-null   float64
 8   ShoppingMall  8485 non-null   float64
 9   Spa           8510 non-null   float64
 10  VRDeck        8505 non-null   float64
 11  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 755.7+ KB

In [96]:
Train["VIP"].fillna("False",inplace=True)
Test["VIP"].fillna("False",inplace=True)

In [97]:
Train["RoomService"].fillna(Train["RoomService"].median(),inplace=True)
Test["RoomService"].fillna(Test["RoomService"].median(),inplace=True)

In [98]:
Train.isna().sum()

HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [99]:
Train["FoodCourt"].fillna(Train["FoodCourt"].median(),inplace=True)
Test["FoodCourt"].fillna(Test["FoodCourt"].median(),inplace=True)

Train["ShoppingMall"].fillna(Train["ShoppingMall"].median(),inplace=True)
Test["ShoppingMall"].fillna(Test["ShoppingMall"].median(),inplace=True)

In [100]:
Train["Spa"].fillna(Train["Spa"].median(),inplace=True)
Test["Spa"].fillna(Test["Spa"].median(),inplace=True)

Train["VRDeck"].fillna(Train["VRDeck"].median(),inplace=True)
Test["VRDeck"].fillna(Test["VRDeck"].median(),inplace=True)

In [101]:
Train.isna().sum()

HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

In [102]:
Test.isna().sum()

HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

In [103]:
Train.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [104]:
## Let's process the non categorical features to categorical..
import re
import string

def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]','',text)
    text = re.sub("\\W"," ",text)
    text = re.sub('https?://\S+|www\.\S+','',text)
    text = re.sub('<.*?>+','',text)
    text = re.sub('[%s]' % re.escape(string.punctuation),'',text)
    text = re.sub('\n','',text)
    text = re.sub('\w*\d\w*','',text)
    return text

In [105]:
Train["Destination"]=Train["Destination"].apply(wordopt)
Test["Destination"]=Test["Destination"].apply(wordopt)

In [106]:
Train.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,P,trappist,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,S,trappist,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,S,trappist,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,S,trappist,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,S,trappist,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [107]:
Test.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Earth,True,S,trappist,27.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,S,trappist,19.0,False,0.0,9.0,0.0,2823.0,0.0
2,Europa,True,S,cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0
3,Europa,False,S,trappist,38.0,False,0.0,6652.0,0.0,181.0,585.0
4,Earth,False,S,trappist,20.0,False,10.0,0.0,635.0,0.0,0.0

In [108]:
Train.isna().sum(),Test.isna().sum()

(HomePlanet      0
 CryoSleep       0
 Cabin           0
 Destination     0
 Age             0
 VIP             0
 RoomService     0
 FoodCourt       0
 ShoppingMall    0
 Spa             0
 VRDeck          0
 Transported     0
 dtype: int64,
 HomePlanet      0
 CryoSleep       0
 Cabin           0
 Destination     0
 Age             0
 VIP             0
 RoomService     0
 FoodCourt       0
 ShoppingMall    0
 Spa             0
 VRDeck          0
 dtype: int64)

In [109]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   object
 1   CryoSleep     8693 non-null   object
 2   Cabin         8693 non-null   object
 3   Destination   8693 non-null   object
 4   Age           8693 non-null   float64
 5   VIP           8693 non-null   object
 6   RoomService   8693 non-null   float64
 7   FoodCourt     8693 non-null   float64
 8   ShoppingMall  8693 non-null   float64
 9   Spa           8693 non-null   float64
 10  VRDeck        8693 non-null   float64
 11  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 755.7+ KB

In [110]:
## Let's convert to categorical

for label,content in Train.items():
    if pd.api.types.is_string_dtype(content):
        print(label)

HomePlanet
CryoSleep
Cabin
Destination
VIP

In [111]:
for label,content in Train.items():
    if pd.api.types.is_numeric_dtype(content):
        print(label)

Age
RoomService
FoodCourt
ShoppingMall
Spa
VRDeck
Transported

In [112]:
for label,content in Train.items():
    if pd.api.types.is_string_dtype(content):
        Train[label]=content.astype("category").cat.as_ordered()

In [52]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   category
 1   CryoSleep     8693 non-null   category
 2   Cabin         8693 non-null   category
 3   Destination   8693 non-null   category
 4   Age           8693 non-null   float64
 5   VIP           8693 non-null   category
 6   RoomService   8693 non-null   float64
 7   FoodCourt     8693 non-null   float64
 8   ShoppingMall  8693 non-null   float64
 9   Spa           8693 non-null   float64
 10  VRDeck        8693 non-null   float64
 11  Transported   8693 non-null   bool
dtypes: bool(1), category(5), float64(6)
memory usage: 459.2 KB

In [115]:
for label,content in Test.items():
    if pd.api.types.is_string_dtype(content):
        Test[label]=content.astype("category").cat.as_ordered()

In [117]:
Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    4277 non-null   category
 1   CryoSleep     4277 non-null   category
 2   Cabin         4277 non-null   category
 3   Destination   4277 non-null   category
 4   Age           4277 non-null   float64
 5   VIP           4277 non-null   category
 6   RoomService   4277 non-null   float64
 7   FoodCourt     4277 non-null   float64
 8   ShoppingMall  4277 non-null   float64
 9   Spa           4277 non-null   float64
 10  VRDeck        4277 non-null   float64
dtypes: category(5), float64(6)
memory usage: 222.1 KB

In [118]:
Train.HomePlanet.cat.categories

Index(['Earth', 'Europa', 'Mars'], dtype='object')

In [119]:
Train.HomePlanet.cat.codes

0       1
1       0
2       1
3       1
4       0
       ..
8688    1
8689    0
8690    0
8691    1
8692    1
Length: 8693, dtype: int8

In [120]:
for label,content in Train.items():
    if pd.api.types.is_categorical_dtype(content):
        Train[label]=pd.Categorical(content).codes+1

In [121]:
Train.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,2,1,2,3,39.0,1,0.0,0.0,0.0,0.0,0.0,False
1,1,1,3,3,24.0,1,109.0,9.0,25.0,549.0,44.0,True
2,2,1,3,3,58.0,2,43.0,3576.0,0.0,6715.0,49.0,False
3,2,1,3,3,33.0,1,0.0,1283.0,371.0,3329.0,193.0,False
4,1,1,3,3,16.0,1,303.0,70.0,151.0,565.0,2.0,True

In [122]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   int8
 1   CryoSleep     8693 non-null   int8
 2   Cabin         8693 non-null   int8
 3   Destination   8693 non-null   int8
 4   Age           8693 non-null   float64
 5   VIP           8693 non-null   int8
 6   RoomService   8693 non-null   float64
 7   FoodCourt     8693 non-null   float64
 8   ShoppingMall  8693 non-null   float64
 9   Spa           8693 non-null   float64
 10  VRDeck        8693 non-null   float64
 11  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), int8(5)
memory usage: 458.5 KB

In [123]:
for label,content in Test.items():
    if pd.api.types.is_categorical_dtype(content):
        Test[label]=pd.Categorical(content).codes+1

In [124]:
Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    4277 non-null   int8
 1   CryoSleep     4277 non-null   int8
 2   Cabin         4277 non-null   int8
 3   Destination   4277 non-null   int8
 4   Age           4277 non-null   float64
 5   VIP           4277 non-null   int8
 6   RoomService   4277 non-null   float64
 7   FoodCourt     4277 non-null   float64
 8   ShoppingMall  4277 non-null   float64
 9   Spa           4277 non-null   float64
 10  VRDeck        4277 non-null   float64
dtypes: float64(6), int8(5)
memory usage: 221.5 KB

In [126]:
X_train = Train.drop("Transported",axis=1)
Y_train = Train["Transported"]

In [127]:
X_train.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,2,1,2,3,39.0,1,0.0,0.0,0.0,0.0,0.0
1,1,1,3,3,24.0,1,109.0,9.0,25.0,549.0,44.0
2,2,1,3,3,58.0,2,43.0,3576.0,0.0,6715.0,49.0
3,2,1,3,3,33.0,1,0.0,1283.0,371.0,3329.0,193.0
4,1,1,3,3,16.0,1,303.0,70.0,151.0,565.0,2.0

In [128]:
Y_train

0       False
1        True
2       False
3       False
4        True
        ...
8688    False
8689    False
8690     True
8691    False
8692     True
Name: Transported, Length: 8693, dtype: bool

In [129]:
## Choosing the Model

from sklearn.ensemble import RandomForestClassifier
Model = RandomForestClassifier(n_estimators=100)
Model.fit(X_train,Y_train)

RandomForestClassifier()

In [146]:
Model.score(X_train,Y_train)

0.943632808006442

In [147]:
## Working with test dataset
Y_preds = Model.predict(Test)

In [148]:
Y_preds

array([ True, False,  True, ...,  True,  True, False])

In [138]:
T = pd.read_csv("test.csv")

In [149]:
Res = pd.DataFrame({'PassengerId':T["PassengerId"],'Transported':Y_preds})

In [150]:
Res

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01        False
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01         True
4276     9277_01        False

[4277 rows x 2 columns]

In [152]:
len(Res)

4277

In [153]:
Res.reset_index(drop=True)

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01        False
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01         True
4276     9277_01        False

[4277 rows x 2 columns]

In [154]:
Res.to_csv('output.csv', sep=',', index=False, header=True)